---
title: 3. Angular CLI Setup and Verification
tags: Angular CLI
image:
---

# 3. Angular CLI Setup and Verification
